.pg3{

    width: 100%;
    background:rgb(26, 23, 23);
     height: fit-content;
     overflow: hidden;
   
}

#whiteBar{
    display: flex;
    width:35vw;
    height: 2vh;
    background: white;
    transform: translateY(250%);
    border-radius: 5px;
    margin-left: 20px;
   
    
}
#orangeBar{
    display: flex;
    width:35vw;
    height: 2vh;
    background: #f3c50b;
   transform: translateX(175%);
    border-radius: 5px;
    margin-top: -90px;
  
}
#Myprotxt{
    font-size:50px;
    transform: translateX(48%);
    color: #f3c50b;
   
}
#projectTxt{
  
    color: aliceblue;
    text-align: center;
    margin-left: -38px;
    
  
}
 
.projectGrid>div:first-child>#Student{
    display: flex;
   font-size: 25px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: bold;
   transform: translateY(108px);
   color: rgb(201, 207, 201);
  
}
.projectGrid>div:nth-child(2)>#hotel{
    display: flex;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    transform: translateY(108px);
    color: rgb(156, 164, 169);
   
}
.projectGrid>div:nth-child(3)>#game{
    display: flex;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    transform: translateY(510px);
    color: rgb(247, 252, 255);
   
}
.projectGrid>div:nth-child(4)>#service{
    display: flex;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    transform: translateY(310px);
    color: rgb(251, 246, 246);
   
}
.projectGrid>div:nth-child(5)>#pos{
    display: flex;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    transform: translateY(310px);
    color: rgb(230, 234, 236);
   
}

/* orange color appy title */
#orange{
    color: #f3aa0b;
    margin-left: 10px;
}

.footerBar{
    width: 100%;
    height: 10px;
   background-color: #f3aa0b;
  transform: translateY(380%);
}

#content-container{
    background-color: black;
    width: 75vw;
    height: 90vh;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(4,1fr);
    margin-left: 200px;
    margin-top: 80px;
    
   

}

:root {
    --glow-color: hsl(50, 85%, 50%);
   
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;

  }
  
 
  
  .glowing-btn {
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.35em 1em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: 0.5em;
     margin-left: 719px; 
     bottom:  128px;
   
  
    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
  }
  
  .glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
  }
  
  .faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
  }
  
  .glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
  }
  
  .glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
  }
  
  .glowing-btn:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
  }
  
  .glowing-btn:hover .glowing-txt {
    animation: none;
  }
  
  .glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
  }
  
  .glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
  }
  
  .glowing-btn:hover:after {
    opacity: 1;
  }
  
  @keyframes faulty-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 0.1;
    }
    4% {
      opacity: 0.5;
    }
    19% {
      opacity: 0.5;
    }
    21% {
      opacity: 0.1;
    }
    23% {
      opacity: 1;
    }
    80% {
      opacity: 0.5;
    }
    83% {
      opacity: 0.4;
    }
  
    87% {
      opacity: 1;
    }
  }
  
  @keyframes text-flicker {
    0% {
      opacity: 0.1;
    }
  
    2% {
      opacity: 1;
    }
  
    8% {
      opacity: 0.1;
    }
  
    9% {
      opacity: 1;
    }
  
    12% {
      opacity: 0.1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0.3;
    }
    30% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.7;
    }
    72% {
      opacity: 0.2;
    }
  
    77% {
      opacity: 0.9;
    }
    100% {
      opacity: 0.9;
    }
  }
  
  @keyframes border-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 1;
    }
    4% {
      opacity: 0.1;
    }
  
    8% {
      opacity: 1;
    }
    70% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .glowing-btn{
      font-size: 1em;
    }

  } 
  @media(max-width: 940px){
    .pg3>.projectGrid{
     margin-left: 100px;

  }
  }
  @media only screen and (min-width: 820px) {
    .pg3>.projectGrid{
   
   
      width: 75vw;
      height: 100vh;
       min-height: 685px; 
      display: grid;
      grid-template-rows: repeat(4,1fr);
      grid-template-columns: repeat(5,1fr);
       margin-left: 350px; 
      margin-top: 150px;
      gap:20px;
     
  }
     
  .projectGrid>div:first-child{
      border-radius: 38px; 
      background: url("assests/Background/online-collage-application-document-form-concept.jpg");
      background-size: cover;
      border: 1px solid white;
      opacity: 85%;
      cursor: pointer;
  }
  
  .projectGrid>div:nth-child(2){
      border: 1px solid white;
      border-radius: 38px;    
      grid-column: 2/4;
      background: url("assests/Background/hotel-booking-reservation-form-concept.jpg");
      background-size: cover;
      opacity: 85%;
      cursor: pointer;
  }
  .projectGrid>div:nth-child(3){
      grid-column: 4/5;
      grid-row: 1/4;
      border-radius: 38px;   
      background: url("assests/Background/connect4.png"); 
      border: 1px solid white;
      background-size: cover;
      opacity: 85%;
      cursor: pointer;
  
  }
  .projectGrid>div:nth-child(4){
      grid-row: 2/4;
      grid-column: 1/2;
      border-radius: 38px;    
      background: url("assests/Background/carserviceimg.jpg");
      background-size: cover;
      border: 1px solid white;
      opacity: 85%;
      cursor: pointer;
  
  
  }
  .projectGrid>div:nth-child(5){
  grid-column: 2/4;
  grid-row: 2/4;
  border-radius: 38px; 
  background: url("assests/Background/posimg.jpg");   
  background-size: cover;
  border: 1px solid white;
  cursor: pointer;
  } 
      
  }
   @media (max-width: 820px) { 

    .pg3{

      width: 100%;
      background:rgb(26, 23, 23);
       height: 175vh;
       overflow: hidden;
     
  }
    .pg3>.projectGrid{

      width: 58vw;
      height: 90vh;
       min-height: 685px; 
      display: grid;
      grid-template-rows: repeat(5,1fr);
      grid-template-columns: repeat(1,1fr);
      margin-left: 200px;
      margin-top: 80px;
      gap:20px
       
  }
  .projectGrid>div:first-child{
    border-radius: 38px; 
    background: url("assests/Background/online-collage-application-document-form-concept.jpg");
    background-size: cover;
    border: 1px solid white;
    opacity: 85%;
    cursor: pointer;
}
     
     .projectGrid>div:nth-child(2){
      border: 1px solid white;
      border-radius: 38px;    
      /* grid-column: 2/4;  */
      background: url("assests/Background/hotel-booking-reservation-form-concept.jpg");
      background-size: cover;
      opacity: 85%;
      cursor: pointer;
  }
  .projectGrid>div:nth-child(3){
       /* grid-column: 4/5;
      grid-row: 1/4;  */
      border-radius: 38px;   
      background: url("assests/Background/connect4.png"); 
      border: 1px solid white;
      background-size: cover;
      opacity: 85%;
      cursor: pointer;
  
  }
  .projectGrid>div:nth-child(4){
      /* grid-row: 2/4;
      grid-column: 1/2; */
      border-radius: 38px;    
      background: url("assests/Background/carserviceimg.jpg");
      background-size: cover;
      border: 1px solid white;
      opacity: 85%;
      cursor: pointer;
  
  
  }
  .projectGrid>div:nth-child(5){
  /* grid-column: 2/4;
  grid-row: 2/4; */
  border-radius: 38px; 
  background: url("assests/Background/posimg.jpg");   
  background-size: cover;
  border: 1px solid white;
  cursor: pointer;
  }
  .glowing-btn {
    margin-left: 130px;
    margin-top: 150px;
  }
}
@media (max-width: 820px) { 
  .pg3>.projectGrid{

    width: 58vw;
    height: 150vh;
     min-height: 685px; 
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(1,1fr);
    margin-left: 100px;
    margin-top: 80px;
    gap:20px
     
}

.projectGrid>div:nth-child(3)>#game{
 transform: translateY(70px);
}
 
.projectGrid>div:nth-child(4)>#service{
  transform: translateY(115px);
}
.projectGrid>div:nth-child(5)>#pos{
  transform: translateY(180px);
}
}