/* upate */
*{
    margin: 0;
    padding: 0;
}
.box{
    cursor: pointer;
}
.header-bar{
    /*background-color: rebeccapurple;*/
    height: 110px;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.top-section{
    /*background-color: brown;*/
    background-color: white;
    width: 100%;
    height: 60px;

    
}

.nav-bar-wrapper{
    background-color: rgb(47, 40, 40);
    width: 100%;
    height: 50px;

    
}


.page1{
    position: relative;
    /*background-color: aqua;*/
    width: 100%;
    height: 700px;

}

.background{
    position: absolute;
    /*background-color: rgb(13, 182, 182);*/
  background: url("assests/Background/bck.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 480px;
    background-position: center;
    margin-top: 110px;
    display: flex;
    overflow: hidden;
   

}

.my-image-wrapper{
    position: absolute;
    /*background-color: lightcoral;*/
    width: 40%;
    height: 800px;
    bottom: 12px;
    left: 0;
}

.my-image{
    position: absolute;
    bottom: -19px;
    /*background-color: lightblue;*/
    width: 105%;
    height: auto;
    margin-left: -40px;
}

.footer{
    position: absolute;
    background-color:orange;
    width: 68%;
    height: 100px;
    right: 0;
    bottom: 0;
    font-size: 25px;
}

.footer-box{
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    padding: 10px;
    color: rgb(18, 18, 18);
    font-family: 'Rubik', sans-serif;
   
    font-size: 20px;
    text-shadow: 1px 1.2px #9c8c8c;

}

.logo-wrapper{
    
    /* background-color: red; */
    width: 100px;
    height: 100%;
    background-image: url(assests/logo/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}

.links-wrapper{
    position: absolute;
    /*background-color: red;*/
    width:fit-content;
    height: 60px;
    top: 0;
    right: 0;
    padding: 7px;
    gap: 10px;
    display: flex;
    

}

.mailImg-box{
    /*background-color: brown;*/
    width: 60px;
    height: 60px;
     /* margin-right: 10px;  */
   
}
 .mailImg-box> img{
    width: 90%;
    height: 90%;
   
 }

 .email-box{
    width: fit-content;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

 .email-box > a > div{
    border-left: 1.5px solid blue;
    padding-left: 1px;
    color: blue;
 }

.page-links-wrapper{
    /*background-color: #FF9400;*/
    width: fit-content;
    height: 100%;
    display: flex;
}

.link-box{
    /*background-color: red;*/
    width: fit-content;
    height: 100%;
    margin-left: 10px;
    text-align: center;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color:#ffa801;
    font-weight: 900;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;

}

.page-links-wrapper > a{
    text-decoration: none;
}
.mobile-nav-bar-wrapper{
    /*background-color: blue;*/
    width: 100%;
    height: 100%;
    display: flex;
    display: none;
}

.mbw{
    position: absolute;
    /*background-color: rebeccapurple;*/
    display: flex;
    right: 0;
    top: 0;
}

.cmbw{
    display: none;
}

.menu-button-wrapper{
    /*position: absolute;*/
    /*background-color: red;*/
    width: 50px;
    height: 50px;
    right: 0;
    top: 0;

}

.menu-button-wrapper > i{
    font-size: 50px;
    color:#f7bd10;
}

.logo{
    /*background-color: red;*/
    width: fit-content;
    height: 100%;
}

.mobile-nav-bar-wrapper > .logo > img{
    height: 100%;
}

.title1-wrapper{
    /*background-color: aqua;*/
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}

.title1 {
    /*background-color: red;*/
    font-size: 60px;
    font-weight: bolder;
    color: #fffaf5;
    font-family: 'Averia Serif Libre', cursive;
    opacity: 0.9;
    
    
}

.title1>span{
    color:orange;
    display: none;
    text-align: center;
}
.fontstyle{
    font-size: 45px;
    font-family: 'Prata', serif;
}

/* title style */


.logo-bg-wrapper{
    /*background-color: #fd7e00;*/
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-bg-wrapper > img{
    width:42vw;
    height: 40vh;
   
    border-radius: 100%;
    border: 3px solid orange;
        background-color: #0a0a0a;
    display: none;
    
}

.menu-bar{
    position: absolute;
    background-color: rgb(46, 40, 40);
    opacity: 0.9;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display:  none;
    z-index: 100;
    
    
}


.menu-box{
   /* background-color: #fd7e00;*/
    width: 100%;
    height: 45px;
    margin-top: 5px;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    color: white;
}



@media (max-width:1004px){
    
    .title1>span{
        color:orange;
        display: none;
        text-align: center;
        font-size: 4.5vw;
    }

    .page-links-wrapper{
        display: flex;
    }
    .mobile-nav-bar-wrapper{
        display: none;
    }

    .top-section{
        display: block;
    }
    .background{
        margin-top: 0;
    }
    .page1{
        height: 590px;
    }
    .email-box{
        display: none;
    }
    .logo-bg-wrapper > img{
        width:35vw;
        height: 36vh;
        background-color: rgb(4, 4, 4);
    }
    .footer{
        position: absolute;
        background-color:orange;
        width: 100%;
        height:fit-content;
        right: 0;
        bottom: 0;
        border: 2px solid rgb(244, 141, 7);
    }
    
    .footer-box{
        
        height: calc(100% -20px);
        width: calc(100% - 20px);
        color: rgb(24, 21, 21);
        font-family: 'Rubik', sans-serif;
      
     
        font-size: 15px;
        text-shadow: 1px 1.2px #9c8c8c;
        
    
    }

}


@media (max-width:1200px){
    .my-image{display: none;}
    .footer{
        width: 100%;
        height: fit-content;
    }

    .logo-bg-wrapper > img{
        display: block;
        width: 40vw;
        height: auto;
    }

    .title1{
        font-size: 6.5vw;
    }
    .fontstyle{
        font-size: 29px;
        font-family: 'Prata', serif;
        
    }
    .title1-wrapper{
      margin-left: 20px;
    }
    
    .footer{
        position: absolute;
        background-color:orange;
        width: 100%;
        height:fit-content;
        right: 0;
        bottom: 0;
        border: 2px solid rgb(244, 141, 7);
    }
    
    .footer-box{
        
        height: calc(100%);
        width: calc(100%);
        color: rgb(24, 21, 21);
        font-family: 'Rubik', sans-serif;
      
       padding: 23px;
        font-size: 18px;
        text-shadow: 1px 1.2px #9c8c8c;
        
    }   
}
@media (max-width:790px){
    

    .page-links-wrapper{
        display:none; 
   }
   .mobile-nav-bar-wrapper{
       display: block;
   } 

   .top-section{
        display: none; 
   }
   .background{
       margin-top: 0;
   }
   .page1{
       height: 590px;
   }
   .email-box{
       display: none;
   }
   .logo-bg-wrapper > img{
       width:35vw;
       height: 36vh;
       background-color: rgb(4, 4, 4);
   }
}

@media (max-width:800px){
    .background{
        height: 350px;
        margin-top: 50px;
    }

    .page1{
        height: 420px;
    }
    .footer{
        top: 402px;
    }
    .logo-bg-wrapper > img{
        display: block;
        width: 40vw;
        height: auto;
    }
}

@media (max-width:700px){
    .footer{
        position: absolute;
        background-color:orange;
        width: 100%;
        height:fit-content;
        right: 0;
        bottom: 0;
        border: 2px solid rgb(244, 141, 7);
    }
    
    .footer-box{
        
        height: calc(100%);
        width: calc(100%);
        color: rgb(24, 21, 21);
        font-family: 'Rubik', sans-serif;
      
       padding: 10px;
        font-size: 13px;
        text-shadow: 1px 1.2px #9c8c8c;
        
    
    }
} 


@media (max-width:620px){
    .footer{
        position: absolute;
        background-color:orange;
        width: 100%;
        height:fit-content;
        right: 0;
        bottom: 0;
        border: 2px solid rgb(244, 141, 7);
    }
    
    .footer-box{
        
        height: calc(100%);
        width: calc(100%);
        color: rgb(24, 21, 21);
        font-family: 'Rubik', sans-serif;
      
       padding: 10px;
        font-size: 13px;
        text-shadow: 1px 1.2px #9c8c8c;
        
    
    }
} 
@media (max-width:450px){


    .title1-wrapper{
      
        width:4%;
        height: 80%;
        display: flex;
        align-items: center;
        margin-top: 43px;
        margin-left: 68px;
      
       
    }
    
    .title1 {
       
        font-size: 28px;
        font-weight: bolder;
        color: #fffaf5;
        font-family: 'Averia Serif Libre', cursive;
        opacity: 0.9;
      
        
        
    }
    
    .title1>span{
        color:orange;
        display: none;
        text-align: center;
        font-size: 21px;
    }
    .fontstyle{
        font-size: 25px;
        font-family: 'Prata', serif;
    }

        .logo-bg-wrapper > img{
            width:55vw;
             height: auto; 
           background-size: cover;
            border-radius: 100%;
            border: 3px solid orange;
            background-color: #10100f;
           
            
        }
    
        .footer{
            position: absolute;
            background-color:rgb(42, 39, 35);
            width: 100%;
            height: 90px;
            right: 0;
            bottom: 0;
            margin-top: -20px;
            border: 2.5px solid orange;
        }
        
        .footer-box{
            height: calc(100% - 20px);
            width: calc(100% - 20px);
            padding: 10px;
            color: rgb(241, 226, 226);
            font-family: 'Rubik', sans-serif;
            font-size: 10px;
            text-shadow: 1px 1.2px #1e1c1c;
        
        }
       
        }
    
